<style>
    body {
        box-sizing: border-box;
        padding: 70px;


    }

    .title {
        color: orange;
    }

    .address-container p {
        margin: 2px;
        white-space: pre-line;

        white-space: pre-wrap;
    }

    .invoice-details {
        margin-top: 70px;
    }

    .bill-to p {
        margin: 2px;
        white-space: pre-line;

        white-space: pre-wrap;
    }

    .bill-to {
        flex: 2;
    }

    .invoice-information {
        flex: 1;
        display: flex;
        flex-direction: row;
    }

    .invoice-information span {
        margin-left: 50px;
        font-size: 14px;
        font-weight: normal;
    }

    .info-right p {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 50px;
    }

    .invoice-details {
        display: flex;
        flex-direction: row;
    }

    h4 {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .items-table-container {
        margin-top: 60px;
        width: 100%;
    }

    th {
        background-color: red;
        border: 1px solid black;

    }

    td {
        text-align: center;
        padding-top: 8px
    }

    .description-col {
        width: 40%;
    }

    .table {
        width: 100%;
    }

    .row {
        width: 100%;
        margin-top: 7px;
    }

    .subtotal-row {
        margin-top: 30px
    }

    .from {
        white-space: pre-line;

        white-space: pre-wrap;
    }

    .row-content {
        margin-left: auto;
        display: flex;
        width: 45%;
    }

    .subtotal-heading {
        width: 50%;
        text-align: center;
    }

    .subtotal-price {
        width: 50%;
        text-align: center;
    }

    .tax-heading {
        width: 50%;
        text-align: center;
    }

    .tax-price {
        width: 50%;
        text-align: center;
    }

    .total-heading {
        width: 50%;
        text-align: center;
    }

    .total-price {
        width: 50%;
        text-align: center;
    }

    .terms-container {
        position: absolute;
        bottom: 110
    }

    .terms-container p {
        font-size: 13px
    }
</style>

<html>

<body>
    <h2 class='from'>{{from}}</h2>
    <div class="address-container">
        <p></p>

    </div>

    <div class="invoice-details">
        <div class="bill-to">
            <h4>Bill To</h4>
            <p>{{to}}</p>

        </div>
        <div class="invoice-information">
            <div class="info-left">
                <h4>Invoice #</h4>
                <h4>Invoice Date</h4>

            </div>

            <div class="info-right">
                <p>{{invoiceNo}}</p>
                <p>{{invoiceDate}}</p>

            </div>
        </div>
    </div>

    <div class="items-table-container">
        <table class="table">
            <tr>

                <th class="description-col">Description</th>
                <th class='price-col'>Unit Price</th>
                <th class='amount-col'>Amount</th>
            </tr>


            {{#each items}}
            <tr>

                <td class="description-col">{{description}}</td>
                <td class='price-col'>{{amount}}</td>
                <td class='amount-col'>{{amount}}</td>




            </tr>
            {{/each}}





        </table>
    </div>

    <div class='row subtotal-row'>
        <div class='row-content'>
            <div class='subtotal-heading'>
                <strong>Subtotal</strong>
            </div>
            <div class='subtotal-price'>
                R {{subTotal}}
            </div>
        </div>
    </div>
    {{#if taxTotal}}
    <div class='row tax-row'>
        <div class='row-content'>
            <div class='tax-heading'>
                <strong>Tax

                </strong>
            </div>
            <div class='tax-price'>
                {{taxTotal}}
            </div>
        </div>
    </div>
    {{/if}}
    <div class='row total-row'>
        <div class='row-content'>
            <div class='total-heading'>
                <strong>Total</strong>
            </div>
            <div class='total-price'>
                R {{total}}
            </div>
        </div>
    </div>

    <div class='terms-container'>
        <h4>Terms and conditions</h4>

        <p>{{terms}}</p>
    </div>

</body>

</html>